body {
	background-color: #fff;
	background-image: url('../img/background.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: scroll;
}

#main-wrapper {
	width: 100%;
	/*height: 100vh;*/
	padding-left: 15%;
	padding-right: 15%;
}

.top-menu ul {
	list-style-type: none;
	background-color: yellow;
	padding-left: 0;
	padding-right: 0;
	background: rgba(255,255,255,0) url('../img/top-links-spr.png') repeat-x center top;
	color: white;

	border-bottom-left-radius: 12px;
	-moz-border-bottom-left-radius: 12px;
	-webkit-border-bottom-left-radius: 12px;

	border-bottom-right-radius: 12px;
	-moz-border-bottom-right-radius: 12px;
	-webkit-border-bottom-right-radius: 12px;
}

.top-menu ul li {
	display: inline-block;
	padding: 1px 15px;
}

.top-menu ul li a {
	color: white;
	text-decoration: none;
	cursor: pointer;
	/*padding-left: 5px 15px;*/
}

/*.navbar {
	min-height: 35px;
	height: 35px;
}*/

.navbar-default {
	background-color: rgba(255,255,255,0);
	border: none;
}

.navbar-nav>li>a {
	line-height: 5px;
	height: 33px;
	color: #fff !important;
	cursor: pointer;
	background: rgba(255,255,255,0) url('../img/menu-inactive-spr.png') repeat-x center top;
}

.navbar-nav>li>a:hover {
	background: rgba(255,255,255,0) url('../img/menu-spr.png') repeat-x center top;
}

.navbar-nav>.active>a {
	background: rgba(255,255,255,0) url('../img/menu-spr.png') repeat-x center top;
	border: 1px solid #55CF3D;
}

#header {
	height: 100px;
}

.logo {
	height: 100px;
	background: rgba(255,255,255,0) url('../img/logo.gif') no-repeat left top;
}

.content-area {
	height: 500px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.sidebar {
	padding-top: 84px;
	height: 500px;
	background-image: url('../img/leftbar-top.png'),url('../img/leftbar-bottom.png'),url('../img/sidebar-bg.png');
	background-position: left top, left bottom, 84px;
	background-repeat: no-repeat,no-repeat, repeat-x;
	background-size: auto, auto, contain;
}

.sidebar-text {
	text-transform: uppercase;
	/*text-align: justify;*/
	font-size: 1.2rem;
}
.sidebar-text.indented {
	padding-left: 80px;
	text-indent: -60px;
}

.map-area {
	padding-right: 0;
	padding-top: 30px;
}

#map {
	position: relative;
	width: 100%;
	height: 470px;
}

.footer {
	margin-top: 10px;
	background: rgba(255,255,255,0) url('../img/footer-bg.png') repeat-x left center;
	padding: 20px 20px 20px;
	color: #fff !important;
	clear: left;
}

@media only screen and (max-width: 1024px) {

	#main-wrapper {
		padding-right: 5%;
		padding-left: 5%;
	}

	#map {
		height: 300px;
	}

	.top-menu ul li {
		background: rgba(255,255,255,0) url('../img/top-links-spr.png') repeat-x center top;
	}
	
}

@media only screen and (max-width: 992px) {
	.sidebar {
		width: 50%;
		margin: 0 auto;
		text-align: center;
		background-position: center top, center bottom, 84px;
	}
}

@media only screen and (max-width: 670px) {
	.sidebar {
		width: 100%;
		background-position: center top, center bottom, 84px;
	}
}

@media only screen and (max-width: 700px) {
	.top-menu ul li {
		display: block;
	}
}

@media (min-width: 768px){

	.no-side-padding {
		padding-left: 0;
		padding-right: 0;
	}

	.navbar {
		min-height: 40px;
		margin-bottom: 0;
	}

	.navbar-nav {
		width: 100%;
	}

	.navbar-nav>li {
		width: 14.25%;
		border-right: 1px solid #fff;
		text-align: center;
	}

  .navbar-nav{
     margin: 0 auto;
     display: table;
     table-layout: fixed;
     float: none;
  }
  .navbar-nav>li>a {
  	line-height: 5px;
  	padding-left: 15px;
  	padding-right: 15px;
  }
} 